# Ignore Python cache files and directories
__pycache__/
*.pyc

# Ignore data directory
data/

# Ignore all .pth files...
*.pth

# Ignore model checkpoint files (other than .pth handled above)
*.ckpt

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variable files
.env

# Ignore virtual environment directories
.venv/
venv/
